footer {
    margin-top: 60px;
    background-color: #242C2C;
    color: #f0f0f0;
    padding: 50px 20px;
}

/* Footer container with grid columns */
footer .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

/* Column styling */
footer .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .column h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}

footer .column p,
footer .column li,
footer .column a {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #c4c4c4;
    text-decoration: none;
}



footer .column li {
    list-style: none;
    margin-bottom: 10px;
}

footer .column a:hover {
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

/* Latest News */
footer .news-item i {
    font-size: 1.5rem;
}

/* Social media icons */
footer .social-icons {
    display: flex;
    gap: 15px;
}

footer .social-icons a {
    color: #c4c4c4;
    font-size: 1.8rem;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

footer .social-icons a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

/* Bottom row for copyright */
footer .bottom-row {
    text-align: center;
    font-size: 0.85rem;
    color: #787878;
    margin-top: 40px;
    border-top: 1px solid #c4c4c4;
    padding-top: 20px;
}

/* Responsive design */
@media (max-width: 1200px) {
    footer .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 800px) {
    footer .container {
        grid-template-columns: 1fr;
    }

    footer .anchor-links {
        display: flex;
        gap: 30px;
    }

    footer .news-item {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    footer .bottom-row {
        padding-top: 10px;
    }
}