.main {
    width: 90%;
    margin: auto;
    padding-top: 150px;
    animation: fade .5s ease-in;
    padding-bottom: 150px;
}

@keyframes fade {
    0% {
        transform: translateY(30px);
        opacity: 0;
        /* filter: blur(33px); */
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        /* filter: blur(0px); */
    }
}

.main .navigation-indicator {
    display: none;
}

@media (max-width:768px) {
    .main {
        padding-top: 75px;
    }

    .main .navigation-indicator {
        display: block;
        margin-bottom: 30px;
    }
}

.checkout-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;

}

@media (max-width:1024px) {
    .checkout-grid {
        grid-template-columns: 1fr;
    }

    .order-summary,
    .payment-section {
        background: linear-gradient(135deg, #F8F9F9, #EAEDED);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 2px solid #242C2C;
        border-radius: 10px;
        padding: 20px 10px;

    }

}

.checkout-grid h1 {
    color: #242C2C;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}

.order-summary {
    display: flex;
    flex-direction: column;
}

.product {
    padding: 20px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-top: 2px solid #242C2C;
}

.product-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.product-info .product-name {
    font-weight: 500;
    color: #242C2C;
}

/* .product-category {
    margin-bottom: 5px;
} */

.Men {
    color: #3A8D99;
}

.Women {
    color: #F76C6C;
}

.Kids {
    color: #F8C24A;
}

.product-size-quantity-container-1 {
    display: none;
    gap: 10px;
    align-items: center;
}

.product-size-quantity-container-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-size {
    padding: 8px;
    color: #242C2C;
    border: 2px solid #242C2C;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
}

.product-size option {
    color: #242C2C;
    font-weight: 600;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.product-quantity {
    display: flex;
}

.product-quantity .add-number,
.minus-number {
    padding: 8px 10px;
    background-color: #242C2C;
    color: white;
    border: 2px solid #242C2C;
    font-weight: 700;
}

.minus-number {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.add-number {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type=number] {
    outline: none;
    padding: 8px 10px;
    text-align: center;
    color: #242C2C;
    border: 2px solid #242C2C;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #242C2C;
}

.product-manage-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-manage-buttons .remove-btn,
.update-btn,
.save-btn {
    background-color: transparent;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.product-manage-buttons .update-btn {
    color: #F4A261;
}

.product-manage-buttons .remove-btn {
    color: #E63946;
}

.product-manage-buttons .save-btn {
    color: #2A9D8F;
}

.product-manage-buttons .save-btn {
    display: none;
}

.main-shop-btn{
    margin-top: 20px;

}

.shop-btn {
    background-color: #2A9D8F;
    width: fit-content;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shop-btn:hover {
    background-color: #8adad1;
}

@media (max-width:520px) {
    .checkout-grid h1 {
        font-size: 1.5rem;
    }

    .product-image {
        height: 100px;
        width: 100px;
    }

    .product-size-quantity-container-1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-size-quantity-container-1 .product-size {
        padding: 5px;
    }

    .product-size-quantity-container-1 .product-quantity .add-number,
    .minus-number,
    input[type=number] {
        padding: 5px;
    }

    .product-size-quantity-container-2 span,.product-category {
        font-size: .9rem;
    }

    .product-price {
        font-size: 1rem;
    }

    .product-manage-buttons {
        gap: 5px;
    }
}
@media (max-width:375px) {
    .update-btn span,.save-btn span,.remove-btn span{
        display: none;
    }
    .update-btn i,.save-btn i,.remove-btn i{
        font-size: 1.2rem;
    }
}


/* .payment-section */
.payment-section {
    /* position: sticky; */
    display: flex;
    flex-direction: column;
}

.payment-summary {
    padding-top: 30px;
    border-top: 2px solid #242C2C;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
}

.summary-row:nth-child(3) {
    border-top: 2px solid #242C2C;
    padding-top: 30px;
}

.summary-amount {
    font-size: 1.2rem;
    font-weight: bold;
}

.summary-row:nth-child(2) .summary-amount {
    font-size: 0.8rem;
    font-weight: normal;
    color: #444;
}

.checkout-link {
    text-transform: uppercase;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.2rem;
    background-color: #242C2C;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.disable {
    background-color: #888;
    cursor: default;
}

.checkout-link:hover {
    background-color: #444;
}

.disable:hover {
    background-color: #888;
}

.navigation-link button {
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #2A9D8F;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;
    outline: none;
    cursor: pointer;
}

.navigation-link button:hover {
    background-color: #8adad1;
}